* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  display: grid;
  grid-template-columns: 12em 1fr;
}

hr {
  background-color: #3e4c56;
  height: 2.5px;
  border: 0px; 
}

.sidebar {
  grid-column: 1 / span 1;
  background-color: #4A5760;
  height: 100%;
  color: white;
}

.sidebar-hero-styling {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px;
  margin-bottom: 13px;
}

.headshot {
  height: 85px;
  width: 85px;
  border-radius: 85px;
  margin: 15px;
}

.profile-title {
  font-size: .9em;
}

.profile-title:hover {
  color: cyan;
}

.sidebar-title {
  font-weight: 400;
  line-height: 35px;
  padding-top: 19px;
  color: lightgrey;
}

.sidebar-button-padding {
  padding-left: 20px;
}

.sidebar-link-button {
  line-height: 40px;
  font-size: .8em;
  color: lightgrey;
  border-left: 1.5px solid #4a5760;
}

.sidebar-link-button:hover {
  background-color: #3a4854;
  border-left: 1.5px solid #1d9aed;
  color: white;
}

.sidebar-icon {
  padding-right: 5px;
}

.sidebar-bottom-link {
  margin-bottom: 16px;
}

.sidebar-checkboxes {
  display: flex;
  flex-direction: column;
}

.checkbox-title {
  font-size: .8em;
  margin-bottom: 2px;
}

.checkbox-styling {
  font-size: .7em;
  margin-bottom: 20px;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -21px;
    color: lightgrey;
}

.admin {
  margin-top: 10px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    padding: 0 5px 0 23px;
    vertical-align: middle;
}

.main {
  grid-column: 2 / span 1;
  background-color: orangered;
}

.navigation {
  display: grid;
  grid-template-columns: 5em 1fr 5em 5em 5em;
  background-color: #FFFFFF;
  height: 75px;
  border-bottom: 2px solid lightgrey;
}

.collapse {
  grid-column: 1;
  justify-content: space-between;
}

.fa-caret-left {
  color: #1d9aed;
}


.fa-bars {
  padding-left: 3px;
  margin-right: 6px;
}

.search {
  grid-column: 2;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #FFFFFF;
  background-image: url('images/searchicon.png');
  background-position: 19px 28px;
  background-repeat: no-repeat;
  padding: 12px 16px 12px 50px;
  height: 73px;
}

.search:hover {
  background-color: white;
}

.search::placeholder {
  color: #b8baba;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightgrey;
  border-left: 2px solid lightgrey;
  color: darkgrey;
  font-size: 1.17em;
}

.nav-icon:hover {
  background-color: silver;
  color: white;
}

.header-title-and-buttons {
  display: grid;
  grid-template-columns: 320px 1fr 320px;
  background-color: #FFFFFF;
}

.header-title-styling {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 51px;
  color: #262626;
  line-height: 2em;
}

.header-title {
  font-size: 1.5em;
}

.header-town {
  color: grey;
  letter-spacing: .2px;
}

.preview-post {
  color: #1d9aed;
}

.header-buttons-styling {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding-right: 20px;
}

.header-btn {
  border-radius: 20px;
  height: 35px;
  border: 1.45px solid #b8baba;
}

.header-button-one {
  width: 75px;
  color: #413a30;
  font-weight: 600;
}

.fa-circle {
  color: #1bec2b;
}

.header-button-small {
  width: 35px;
  color: #b8baba;
}

.subnav-links-styling {
  display: grid;
  grid-template-columns: 1000px 1fr;
  background-color: #FFFFFF;
  padding-top: 20px;
}

.subnavigation-header-links {
  grid-column: 1;
  display: flex;
  justify-content: space-around;
  color: grey;
  padding-left: 26px;
}

.single-subnav-link {
  padding: 10px 0 10px 0;
  border-bottom: 3px solid #FFFFFF;
  font-size: .9em;
  line-height: 27px;
}

.single-subnav-link:hover {
  border-bottom: 3px solid #1d9aed;
  color: #606062;
}

.graphs {
  background-color: #eaf1f5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid lightgrey;
}

.circle-chart-styling {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.teal .circle {
  stroke: #009688;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.circular-chart.plum .circle {
  stroke: #8e24aa;
}

.percentage, .forwards, .applicants {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.dial-text {
  font-size: .15em;
  font-weight: 700;
}

.bar-graph {
  grid-column: 2 / span 1;
  background-image: url('images/graphbar.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  padding-left: 77px;
  background-position: center;
}

.buttons-for-graphs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 0 37px;
  background-color: #eaf1f5;
}

.graph-button-styling {
  display: flex;
  justify-content: center;
}

.graph-button {
  height: 35px;
  border-radius: 20px;
  padding: 10px;
  color: #606062;
  font-weight: 600;
}

.page-divider {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
}

.divider-line-styling {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  background-color: #eaf1f5;
}

.divider-line {
  width: 85%;
  background-color: grey;
  height: 2.5px;
  border: 0px;
}

.chevron-styling {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  background-color: #eaf1f5;
  font-size: 2em;
}


.stewert-butterfield {
  height: 60px;
  border-radius: 80px;
}
